:root {
    --primary-color: #00a758;
    --secondary-color: #ec6453;
    --text-color: rgb(40, 43, 62);
}

.btn {
    outline: none;
    border: none;
    width: max-content;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 30px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--secondary-color);
}