
/*Tablet*/
@media (max-width: 1024px) {

    .slide-tittle{
        font-size: 2.5rem;
        margin: 116px auto auto 40px;
    }
    .customer-select {
        display: block;
    }
    .customer-select__right {
        padding-top: 40px;
    }

}

/* Mobile */
@media (max-width: 767px) {
    .navbar-left-menu {
        display: none;
    }

    body {
        margin-left: -80px;
    }

    .navbar-left-logo {
        height: 60px;
        width: 60px;
    }

    .header-container {
        height: 60px;
        background-color: #34384b;
        left: 60px;
    }

    .header-container__login {
        display: none;
    }

    .banner-container {
        display: flex;
        flex-direction: column;
        height: 960px;
    }
    
    .teaser-container {
        margin-top: 0;
        display: grid;
        grid-template-rows: repeat(2,minmax(0,1fr));
    }

    .teaser-item {
        display: grid;
        grid-template-areas: "a b b"
                             "a c c"
                             "a d d";
        grid-template-columns: 1fr 3fr 1fr;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .teaser-item-icon {
        grid-area: a;
        font-size: 3rem;
        float: left;
        padding-bottom: unset;
        /* align-self: flex-start; */
        padding: 0 20px 20px 20px;
    }
    .teaser-item b {
        grid-area: b;
    }
    .teaser-item p {
        grid-area: c;
    }
    .teaser-item .click-here {
        grid-area: d;
        align-self: flex-start;
    }

    .customer-select__right {
        display: block;
        padding-right: unset;
    }
}
