
/*Tablet*/
@media (max-width: 1024px) {

    .slide-tittle{
        font-size: 2.5rem;
        margin: 116px auto auto 40px;
    }
    .customer-select {
        display: block;
    }
    .customer-select__right {
        padding-top: 40px;
    }

}

/* Mobile */
@media (max-width: 767px) {
    .navbar-left-menu {
        display: none;
    }

    body {
        margin-left: -80px;
    }

    .navbar-left-logo {
        height: 60px;
        width: 60px;
    }

    .header-container {
        height: 60px;
        background-color: #34384b;
        left: 60px;
    }

    .header-container__logo {
        margin-left: 20px;
    }

    .header-container__login {
        display: none;
    }

    .header-image--scrolled {
        filter: unset;
    }

    .banner-container {
        display: flex;
        flex-direction: column;
        height: 860px;
    }
    
    .slide-tittle {
        font-size: 2rem;
    }
    .teaser-container {
        margin-top: 0;
        display: grid;
        grid-template-rows: repeat(2,minmax(0,1fr));
    }

    .teaser-item {
        display: grid;
        grid-template-areas: "a b b"
                             "a c c"
                             "a d d";
        grid-template-columns: 1fr 3fr 1fr;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .teaser-item-icon {
        grid-area: a;
        font-size: 3rem;
        float: left;
        padding-bottom: unset;
        /* align-self: flex-start; */
        padding: 0 20px 20px 20px;
    }
    .teaser-item b {
        grid-area: b;
    }
    .teaser-item p {
        grid-area: c;
    }
    .teaser-item .click-here {
        grid-area: d;
        align-self: flex-start;
    }

    .main-container {
        overflow: hidden;
    }

    .customer-select__right {
        display: block;
        padding-right: unset;
    }
    .footer-container {
        padding: unset;
    }
    .footer-container__r1 {
        flex-direction: column;
        justify-content: center;
        margin-bottom: unset;
    }

    .footer-container__r1--list {
        padding-right: unset;
        cursor: pointer;
        position: relative;
    }


    .footer-container__r1--list:not(:last-child) {
        border-bottom: 1px solid #1e212f;

    }

    .footer-container__r1--list h4 {
        padding: 20px 20px;
        margin: auto 0;
        margin-block-start: unset;
        margin-block-end: unset;
        margin-inline-start: unset;
        margin-inline-end: unset;
        position: relative;
    }

    .footer-container__r1--list i {
        display: block;
        position: absolute;
        text-align: center;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    .footer-container__r1 ul{
        display: none;
        background-color: #34384b;
        padding: auto 20px;
    }

    .footer-container__r1 li {
        padding-top: 30px;
        display: block;
        padding-left: 20px;
        font-size: 0.9rem;
    }

    .footer-container__r1 li:last-child {
        padding-bottom: 30px;
    }


    .footer-container__r2 {
        flex-direction: column;
        align-items: unset;
        padding: 20px;
    }
    .footer__privacy {
        font-size: 0.8rem;
    }

    .footer__social {
        margin-top: 40px;
    }

    .footer-container__r3 {
        flex-direction: column;
        padding: 20px;
    }

    .header__mobile {
        display: block;
        color: white;
        box-sizing: border-box;
        height: 100%;
    }

    .header__mobile  i {
        padding: 20px;
        font-size: 1.4rem;
        border-left: #1e212f 1px solid;
        box-sizing: border-box;
        line-height: 0.9;
        display: inline-block;
        height: 60px;
        width: 60px;
    }

    .feature-container {
        padding: 50px 20px;
    }

    .feature-item {
        display: block;
        height: auto;
        position: relative;
    }

    .feature-item__tittle {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .feature-item__tittle b {
        font-weight: 400;
    }
    
    .feature-content-container {
        width: 100%;
        height: 440px;
        overflow-x: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        padding-top: 20px;
        user-select: none;
    }

    .feature-content-container::-webkit-scrollbar {
        display: none;
    }

    .feature-item__content {
        min-width: 245px;
        margin-right: 20px;
        z-index: 10;
        -webkit-user-drag: none;
    }

    .feature-item__content img {
        -webkit-user-drag: none;
    }
    .feature-content__slider {
        position: absolute;
        bottom: 50px;
        right: 0;
        width: 100%;
        z-index: 10;
        display: flex;
    }

    .feature-btn {
        display: block;
        padding: 4px;
        border-radius: 50%;
        background-color: rgba(40, 43, 62, 0.6);
        margin-right: 10px;
    }

    .feature-item__content--r4 {
        flex: 1;
        min-width: unset;
    }

    .feature-content-container-r4 {
        height: auto;
    }

    .feature-item__content--r4 h4 {
        font-size: 1rem;
    }

    .feature-item-r4 {
        height: auto;
    }

}
